@model Character


<div>
    <h4>@Model.Name</h4>
    <hr />

    <div id="header" class="row justify-content-around parchment-light">
        <div class="row col-lg-4 col-md-12 justify-content-between">
            <div class="col-md-3">@Html.DisplayNameFor(model => model.Class):</div>
            <div class="col-md-8">@Html.DisplayFor(model => model.Class)</div>
        </div>
        <div class="row col-lg-3 col-md-12 justify-content-between">
            <div class="col-md-3">@Html.DisplayNameFor(model => model.Level):</div>
            <div class="col-md-8">@Html.DisplayFor(model => model.Level)</div>
        </div>
        <div class="row col-lg-5 col-md-12 justify-content-between">
            <div class="col-md-3">@Html.DisplayNameFor(model => model.Race):</div>
            <div class="col-md-8">@Html.DisplayFor(model => model.Race)</div>
        </div>
    </div>

    <div id="body">
        <div class="card-deck mb-4">
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Stats)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Stats)
                    </p>
                </div>
            </div>
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Attributes)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Attributes)
                    </p>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Abilities)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Abilities)
                    </p>
                </div>
            </div>
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Skills)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Skills)
                    </p>
                </div>
            </div>
        </div>
        <div class="card-deck mb-4">
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Items)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Items)
                    </p>
                </div>
            </div>
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Weapons)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Weapons)
                    </p>
                </div>
            </div>
            <div class="card parchment-light col-sm-12">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Spells)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Spells)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .parchment-light {
        background-color: lightgreen;
        border-radius: 10px;
    }
    #header {
        font-size: large;
        margin: 0.8em 0.4em;
    }
</style>