@model Game

@{
    ViewData["Title"] = Model.Room.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="header row justify-content-around mb-2">
        <h2 class="col-3 col-sm-12"><i id="Room_OwnerName">@ViewData["OwnerName"]</i></h2>
        <h2 class="col-3 col-sm-12">@Model.Room.Name</h2>
        @if (Model.PlayerCharacter.OwnerId == Model.Room.OwnerId)
        {
            <h2 class="col-3 col-sm-12">Room Key: @Model.Room.Password</h2>
            <h2 class="col-3 col-sm-12"><a class="btn btn-primary" asp-action="Deactivate" asp-route-id="@Model.Room.Id">Deactivate</a></h2>
        } 
    </div>
    <hr />
    
    <div class="row col-12 justify-content-around content-wrapper">
        <div id="character-sheet" class="col-lg-5 col-md-10 scrollbox">
            @Html.DisplayFor(model => model.PlayerCharacter)
        </div>

        <div id="message-container" class="col-lg-5 col-md-10 scrollbox">
            <ul id="message-list" class="pl-0"></ul>
        </div>
    </div>

    <div class="bottom-center text-center" id="new-message">
        <form class="row justify-content-around" id="form">

            <div class="col-lg-10 col-sm-12 text-lg-left text-sm-center">
                <textarea id="message" asp-for="CurrentMessage.Text"></textarea>
            </div>

            <div class="col-lg-2 col-sm-8 text-lg-right text-sm-center align-self-center">
                @if (Model.PlayerCharacter.OwnerId == Model.Room.OwnerId)
                {
                    <div class="m-1">
                        <select id="user-selections">
                            <option value="-1">Public</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <label for="isPrivate"><i>Private</i></label>
                        <input type="checkbox" id="isPrivate" />
                    </div>
                }

                <div>
                    <input type="button" class="btn-primary btn-send" id="sendButton" value="Send" />
                </div>
            </div>


            <input type="hidden" asp-for="Room.Id" />
            <input type="hidden" asp-for="Room.OwnerId" />
            <input type="hidden" asp-for="PlayerCharacter.OwnerId" />
            <input type="hidden" asp-for="PlayerCharacter.Name" />
            <input type="hidden" asp-for="PlayerCharacter" />
            <input type="hidden" asp-for="CurrentMessage" />
        </form>
    </div>
</div>


<style>

</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chathub.js"></script>
}